@use 'index.scss' as *;

.btn {
    color: $primary_color;
}


.newBlogSectionWrapper{
    @include containerwrapper;
    font-size: $small-font;

    @include sm{
        font-size: $middle-font;
    }
}

.createNewBlog{
    width: 60em;
    height: 50em;
    @include center(flex-start , column , initial);
    
}
