
.icon{
    color: rgba(255, 255, 255, 255);
    cursor: pointer;
}

.disableIcon{
    color: rgba(255, 255, 255, 0.467);
}


.dropdownDisapear{
    display:none;
}

.dropdownContent {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: black;
    min-width: max-content;
}

.dropdown {
    position: relative;
    &:hover .dropdownContent {
        display: flex;
        flex-direction: column;
    }
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
