@tailwind base;
@tailwind components;
@tailwind utilities;




 
@layer base {
  h1 {
    @apply text-2xl;
    font-weight: bold;
  }
  h2 {
    @apply text-xl;
    font-weight: bold;
  }
  h3 {
    @apply text-lg;
    font-weight: bold;
  }
  h4{
    @apply text-base;
    font-weight: bold;
  }
  h5{
    @apply text-sm;
    font-weight: bold;
  }
  h6{
    @apply text-xs;
  }

  .animThemeColor{
    animation: anim-theme 1s ease-in-out 1;
    -webkit-animation: anim-theme 1s ease 1;
    z-index: 10000;    
  }
  .noOverflow{
    overflow: hidden;
  }

      
      @keyframes anim-theme {
        0% {
          -webkit-transform: scale(10);
                  transform: scale(10);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
                  opacity: 1;
 /*                  width: 10px;
                  height: 10px;
                  top: 0;
                  right: -200px; */
        }
        100% {
          -webkit-transform: scale(50);
                  transform: scale(50);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
                  opacity: 0;
/*                   width: 100vw;
                  height: 100vh;
                  top: 0;
                  right: -200px; */

        }
      }
      

}





.btn {
  @apply hover:bg-transparent;
}

*{
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: white;
  }
  body {
    color: black;
    background: white;
  }
}
 */