@use 'index.scss' as *;
@use 'sass:color';

.active_icon{
    @include center(right , row , center);
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    flex:0.6;
    text-align: center;
}

.icon{
    color: color.adjust(white , $lightness:-15%);    
    
}



.lineNumber{
    
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;    


    & span{
        counter-increment: linenumber;

        &:before{
            content: counter(linenumber);
            color: #505050;
            display:block;
        }

    }

}






